.sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

#form-section {
  scroll-margin: 70px;
}

.form-wrapper {
  max-width: 650px;
  margin-inline: auto;
}

.form-group {
    margin-bottom: 0.938rem;
}

.form-outline .form-control {
    padding: 0.75rem 1.75rem;
    color: var(--fds-grey-800);
    font-size: var(--fds-fs-400);
}

.form-outline .form-control~.form-notch div {
  border-color: #D6D6D6;
}

.form-outline .form-control.form-control-lg {
  background-color: #F7F7F7;
}

.form-outline .form-control.form-control-lg ~ .form-label {
    padding-top: 1rem;
}

.form-outline .form-control.form-control-lg, .form-outline .form-control.form-control-lg ~ .form-label {
    font-size: var(--fds-fs-400);
}

.select-input.form-control[readonly]:not([disabled]) {
  line-height: 2.15;
  background-color: #F7F7F7;
}

.form-outline .form-control~.form-label.select-fake-value {
  padding-top: 16px;
}

.form-wrapper .select-arrow {
    padding-top: 10px;
}

option {
    padding: 0.75rem 1.75rem;
    color: var(--fds-grey-800);
    font-size: var(--fds-fs-400);
}

.form-section-title {
    font-size: 26px;
    line-height: 27px;
    font-weight: 400;
    color: #778495;
    text-align: center;
    margin-bottom: 1rem;
}

.form-section-desc {
    font-size: 18px;
    line-height: 30px;
    color: #778495;
    text-align: center;
}

.array-form-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: var(--fds-blue);
    padding: .75rem 3rem;
    border-radius: 5000px;
    transition: all .3s ease-in-out;
    border: none;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-top: 2rem;
}

.array-form-button:hover,
.array-form-button:focus {
    background-color: var(--mdb-link-hover-color);
    color: #fff;
}

.note-array {
  color: #000;
  font-size: 10px;
}

.consent-wrapper {
  font-size: 14px;
  text-align: center;
  max-width: 300px;
  margin-inline: auto;
}

.consent-wrapper .form-check-input[type=radio] {
    width: 1.125rem;
    height: 1.125rem;
}

.form-check-inline:last-of-type {
    margin-right: 0px;
}

.blue-form-section {
  background-color: #778495;
  color: #fff;
}

.blue-form-section .form-section-title {
  color: #fff;
}

.blue-form-section .note-array {
    color: #fff;
}

.blue-form-section .array-form-button {
    color: var(--fds-blue);
    background-color: #fff;
}

.blue-form-section .array-form-button:hover,
.blue-form-section .array-form-button:focus {
    background-color: var(--mdb-link-hover-color);
    color: #fff;
}

@media (min-width: 768px) {
    .custom-form-label {
        font-size: 23px;
        line-height: 29px;
    }

    .custom-form-sublabel {
        font-size: 15px;
        line-height: 19px;
    }

    .form-section-title {
        font-size: 36px;
        line-height: 42px;
    }

    .consent-wrapper {
      display: flex;
      justify-content: space-between;
      text-align: unset;
      max-width: unset;
    }
}