.mw-960 {
  max-width: 960px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.dark-img-overlay::before {
  opacity: 0.7;
}

.header-banner-text {
  left: 1em;
}

.banner-text__header {
    font-size: 36px;
    text-transform: unset;
}

.aqm-section-subtitle {
  font-size: 20px;
  color: var(--fds-blue);
}

.aqm-section-title {
  font-size: 28px;
  font-weight: 400;
  color: var(--fds-blue);
  line-height: 1;
}

.aqm-section-small-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--fds-blue);
  line-height: 1.2;
}

.aqm-section-text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--fds-blue);
  text-wrap: pretty;
}

.aqm-section-big-text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--fds-blue);
}

.bluesection {
  background: var(--fds-blue);
}

.icon-text-desc {
  color: var(--fds-blue);
}

.icon-text-wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
}

.icon-text-img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

.icon-text-grid {
  display: grid;
  gap: 2rem;
}

.section-bg-img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.center-floating-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.unified-solution-section {
  position: relative;
  background-image: url(../img/aqm-seasons-winter/section-bg-img-mobile-unified.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unified-solution-section.unified-solution-section-spring {
  background-image: url(../img/aqm-seasons-spring/section-bg-img-mobile-unified.jpg);
}

.unified-solution-section.unified-solution-section-summer {
  background-image: url(../img/aqm-seasons-summer/section-bg-img-mobile-unified.jpg);
}

.unified-solution-section.unified-solution-section-fall {
  background-image: url(../img/aqm-seasons-fall/section-bg-img-mobile-unified.jpg);
}

.section-viewpoint-img {
  max-width: 565px;
  position: absolute;
  right: 0;
  box-shadow: -8px 9px 18px rgba(0, 0, 0, 0.32);
}

.array-logo {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-inline: auto;
}

.scenario-card {
  background-color: #fff;
  border-radius: 1.125rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.scenario-pretext {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  color: #aebed3;
}

.scenario-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: var(--fds-blue);
  margin-block: 1rem;
  text-wrap: pretty;
}

.scenario-card-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--fds-blue);
  text-wrap: pretty;
}

.scenario-card-img {
  aspect-ratio: 7 / 4;
  -o-object-fit: cover;
      object-fit: cover;
}

.scenario-card-video {
  aspect-ratio: 7 / 4;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.season-btn {
  color: var(--fds-blue);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .75rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 1rem 2rem;
  gap: 1rem;
  transition: all .3s ease-in-out;
}

.season-btn:hover,
.season-btn:focus {
  background-color: #7784951f;
  color: var(--fds-blue);
}

.season-btn.active {
  background-color: var(--fds-blue);
  color: #fff;
}

.season-btn-icon {
  display: block;
  width: 100%;
  max-width: 30px;
}

.array-card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  color: var(--fds-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.array-card-icon {
  display: block;
  width: auto;
  height: 70px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.array-card-title {
  font-size: 18px;
  margin-bottom: 1rem;
}

.array-card-text {
  line-height: 150%;
  text-wrap: pretty;
  margin-bottom: 1rem;
}

.array-card-link {
  font-size: 12px;
  text-decoration: underline;
  margin-top: auto;
}

@media (min-width: 768px) {
  .header-banner-text {
    max-width: 730px;
    left: 3em
  }

  .banner-text__header {
    font-size: 60px;
    margin-bottom: 1rem;
  }

  .aqm-section-subtitle {
    font-size: 40px;
  }

  .aqm-section-title {
    font-size: 60px;
  }

  .aqm-section-small-title {
    font-size: 40px;
  }

  .aqm-section-text {
    font-size: 20px;
  }

  .aqm-section-big-text {
    font-size: 26px;
    line-height: 175%;
    font-weight: 400;
  }

  .icon-text-wrapper {
    gap: 2rem;
  } 

  .icon-text-grid {
    gap: 2.5rem;
  }

  .section-bg-img {
    height: 700px;
  }

  .unified-solution-section {
    background-image: url(../img/aqm-seasons-winter/section-bg-img-unified.jpg);
    min-height: 700px;
    background-position: left center;
  }

  .unified-solution-section.unified-solution-section-spring {
    background-image: url(../img/aqm-seasons-spring/section-bg-img-unified.jpg);
  }

  .unified-solution-section.unified-solution-section-summer {
    background-image: url(../img/aqm-seasons-summer/section-bg-img-unified.jpg);
  }

  .unified-solution-section.unified-solution-section-fall {
    background-image: url(../img/aqm-seasons-fall/section-bg-img-unified.jpg);
  }  

  .array-logo {
    max-width: 500px;
  }

  .scenario-card {
    min-height: 725px;
    margin-bottom: 4rem;
  }

  .scenario-card-video {
    aspect-ratio: unset;
    height: 385px;
  }

  .scenario-card-img {
    aspect-ratio: unset;
    height: 385px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .scenario-pretext {
    font-size: 20px;
  }

  .scenario-card-title {
    font-size: 34px;
    line-height: 125%;
    margin-block: 1rem;
    max-width: 410px;
  }

  .scenario-card-text {
    font-size: 18px;
    line-height: 150%;
  }

  .season-btn {
    border-radius: 1rem;
    gap: 1.5rem;
  }

  .season-btn-icon {
    max-width: 40px;
  }
}