.mw-975 {
  max-width: 975px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.dark-img-overlay::before {
  opacity: 0.7;
}

.header-banner-text {
  max-width: unset;
  width: 100%;
}

.banner-text__header {
  text-transform: unset;
}

.header-title {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
  color: #fff;
}

.array-header .header-bg-img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.aqm-section-subtitle {
  font-size: 20px;
  color: var(--fds-blue);
}

.aqm-section-title {
  font-size: 28px;
  font-weight: 400;
  color: var(--fds-blue);
}

.aqm-section-small-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--fds-blue);
  line-height: 1.2;
}

.aqm-section-text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--fds-blue);
}

.icon-group {
  display: block;
  width: 100%;
  max-width: 265px;
  margin-inline: auto;
  margin-block: 2rem;
}

.bluesection {
  background: var(--fds-blue);
}

.rounded-img {
  display: block;
  width: 100%;
  border-radius: 18px;
}

.aqm-small-heading.text-white {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  margin-block: .75rem;
}

.aqm-section-small-text {
  font-size: 16px;
  line-height: 150%;
  text-wrap: pretty;
}

.read-more-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: .5rem 1.5rem;
  background-color: #fff;
  color: var(--fds-blue);
  border-radius: 500px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all .3s ease-in-out;
}

.read-more-btn:hover,
.read-more-btn:focus {
  background-color: var(--mdb-link-hover-color);
  color: #fff;
}

.sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.form-group {
    margin-bottom: 0.938rem;
}

.form-outline .form-control {
    padding: 0.75rem 1.75rem;
    color: var(--fds-grey-800);
    font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg, .form-outline .form-control.form-control-lg ~ .form-label {
    font-size: var(--fds-fs-400);
}

.form-outline .form-control.form-control-lg ~ .form-label {
    padding-top: 1rem;
    z-index: 1000;
    color: #000;
}

.form-outline .form-control.form-control-lg, .form-outline .form-control.form-control-lg ~ .form-label {
    font-size: var(--fds-fs-400);
}

.form-section-title {
  font-size: 30px;
  line-height: 150%;
  font-weight: 400;
  color: #778495;
  text-align: center;
  margin-bottom: 1rem;
}

.form-section-desc {
    font-size: 18px;
    line-height: 30px;
    color: #778495;
    text-align: center;
}

.custom-form-label {
    max-width: 200px;
    margin-inline: auto;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #778495;
}

.custom-form-sublabel {
    max-width: 215px;
    margin-inline: auto;
    font-size: 10px;
    line-height: 13px;
    font-weight: 500;
    color: #778495;
}

.array-form-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: var(--fds-blue);
  padding: .75rem 3rem;
  border-radius: 5000px;
  transition: all .3s ease-in-out;
  border: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2rem;
}

.array-form-button:hover,
.array-form-button:focus {
  background-color: var(--mdb-link-hover-color);
  color: #fff;
}

.form-outline .form-control~.form-notch div {
  border: 1px solid #D6D6D6;
  background: #F7F7F7;
}

.seasons-tab-icon {
  display: none;
  width: 100%;
  max-width: 40px;
}

.season-tab-content .tab-pane {
  background-color: #F7F7F7;
}

.season-tab-image-wrapper {
  position: relative;
}

.season-content-image {
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.season-image-icon {
  display: block;
  width: 100%;
  max-width: 65px;
}

.season-img-text {
  font-size: 30px;
  line-height: 1;
}

.tab-icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.season-tab-content-inner {
  padding: 2rem 1rem 3rem;
}

.season-tab-content-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: var(--fds-blue);
  margin-bottom: 1rem;
}

.season-tab-content-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--fds-blue);
}

.tab-content-icon-wrapper {
  display: flex;
  row-gap: 2rem;
  margin-block: 3rem;
  flex-wrap: wrap;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.icon-text-wrapper {
  gap: 1rem;
  font-size: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.tab-content-icon {
  display: block;
  width: auto;
  height: 60px;
}

.season-tab-btn {
  font-size: 15px;
  line-height: 1;
  background-color: var(--fds-blue);
  color: #fff;
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: 100px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all .3s ease-in-out;
}

.season-tab-btn:hover,
.season-tab-btn:focus {
  background-color: var(--mdb-link-hover-color);
  color: #fff;
}

@media (max-width: 767.9px) {
  .header-banner-text {
    position: absolute;
    left: 50%;
    right: unset;
    bottom: 2em;
    transform: translateX(-50%);
    text-align: center;
  }

  .season-tabs {
    display: none;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 400px;
    margin-inline: auto;
  }

  .season-tabs.show {
    display: flex;
  }

  .tabs-mobile-header {
    border-top: 1px solid var(--fds-blue);
    padding: 2rem 1rem 0rem;
  }

  .tabs-mobile-header h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }

  .sas-tab-navs {
    position: relative;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 1.5rem;
  }

  .tab-dropdown {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    color: var(--fds-blue);
    border: 1px solid var(--fds-blue);
    text-transform: uppercase;
    line-height: 1;
  }

  .sas-tab-navs i.fa-chevron-down {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 20px;
    pointer-events: none;
    color: var(--fds-blue);
  }

  .season-tab-section .seasons-tab-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--fds-blue);
    display: block;
    padding: 1rem 24px .5rem;
  }

  .seasons-tab-link.active {
    display: none;
  }

  .seasons-tab-link::after {
    display: none !important;
  }

  .season-tab-content {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .array-header .header-bg-img {
    height: 600px;
  }

  .aqm-section-subtitle {
    font-size: 40px;
  }

  .aqm-section-title {
    font-size: 60px;
  }

  .aqm-section-small-title {
    font-size: 40px;
  }

  .icon-group {
    max-width: 430px;
    margin-block: 3rem;
  }

  .aqm-section-text {
    font-size: 20px;
  }

  .aqm-small-heading.text-white {
    font-size: 20px;
  }

  .form-section-title {
    font-size: 40px;
  }

  .custom-form-label {
    font-size: 23px;
    line-height: 29px;
  }

  .custom-form-sublabel {
    font-size: 15px;
    line-height: 19px;
  }

  .season-tabs {
    border-top: 1px solid #C0C6CD;
  }

  .season-tabs .nav-item {
    border-right: 1px solid #C0C6CD;
  }

  .season-tabs .nav-item:last-of-type {
    border-right: none;
  }

  .seasons-tab-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    color: var(--fds-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: 10px solid #fff !important;
    height: 90px;
  }

  .seasons-tab-link.active {
    color: var(--fds-blue) !important;
    border-bottom: 10px solid var(--fds-blue) !important;
  }

  .seasons-tab-link::after {
    display: none !important;
  }

  .nav-tabs .seasons-tab-link:hover {
    background-color: transparent;
    border-color: inherit;
    border-bottom: 10px solid var(--mdb-link-hover-color) !important;
    color: var(--fds-blue);
  }

  .seasons-tab-link.active:hover {
    color: var(--fds-blue) !important;
    border-bottom: 10px solid var(--fds-blue) !important;
  }

  .seasons-tab-icon {
    display: block;
  }

  .season-tab-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .season-tab-content-inner {
    padding: 4rem 3rem;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .season-tab-content-title {
    font-size: 22px;
  }

  .icon-text-wrapper {
    font-size: 16px;
  }

  .tab-content-icon {
    height: 72px;
  } 
  
  .season-content-image {
    height: 100%;
    min-height: 665px;
  }

  .tab-icon-text-wrapper {
    gap: 2rem;
    left: 50%;
    top: 50%;
    bottom: unset;
    flex-direction: column;
    transform: translate(-50%, -50%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .season-image-icon {
    max-width: 110px;
  }

  .season-img-text {
    font-size: 60px;
  }
}