.fds-bg-aqm-blue {
  background-color: #798393;
}

.aqm-header-banner-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: #fff;
  z-index: 100;
}

.dark-blue-img-overlay {
  position: relative;
}

.dark-blue-img-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #798393;
  background: linear-gradient(180deg,rgba(121, 131, 147, 0) 0%, rgba(121, 131, 147, 1) 85%, rgba(121, 131, 147, 1) 100%);
  z-index: 10;
}

.dark-blue-img-overlay img {
  z-index: 0;
}

.dark-blue-img-overlay .header-banner-text {
  z-index: 100;
}

.banner-text__header {
  font-size: 16px;
}

.banner-large-subheader {
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 400;
}

.banner-small-text {
  font-size: 10px;
  line-height: 1.1;
}

.white-divider {
  height: 1px;
  background: #fff;
  margin-block: .5rem 1rem;
  opacity: .5;
}

.header-img {
  max-height: calc(95dvh - 75px);
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-menu {
  background-color: #798393;
}

.custom-section-nav-section {
  position: relative;
  padding-block: 1rem 1.5rem;
}

.custom-section-nav {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    align-items: flex-start;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.movedhtml .custom-section-nav {
    align-items: flex-end;
    position: relative;
}

.custom-section-nav a {
  padding: 10px;
  background: #798393;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  flex: 0 0 auto;
  border-right: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #fff;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.custom-section-nav a::after {
  display: none !important;
}

.custom-section-nav a.active {
  padding: 10px;
  background: #798393;
  color: #ffffff;
  opacity: 1;
}

.custom-section-nav a:focus, 
.custom-section-nav a:hover {
    color: #fff;
    opacity: 1;
}

.design-process-title {
  font-size: 40px;
  line-height: 1.1;
  color: #798393;
  text-wrap: pretty;
}

.design-process-sub-title {
  font-size: 20px;
  line-height: 1.1;
  color: #9F9F9F;
  text-wrap: pretty;
}

.bigptext {
  font-size: var(--fds-fs-325);
  line-height: var(--fds-fs-700);
  max-width: unset;
  margin-inline: unset;
  text-wrap: pretty;
}

.specification-content {
  width: calc(100% - ((var(--mdb-gutter-x) * 0.5) * 2));
  margin-inline: auto;
  padding-left: 1rem;
  border-left: 2px solid #798393;
}

.fds-bg-aqm-blue .specification-content {
  border-left: 2px solid #fff;
  margin-block: 1rem;
}

@media (min-width: 768px) {
  .banner-text__header {
    font-size: 30px;
  }

  .banner-large-subheader {
    font-size: 26px;
  }

  .banner-small-text {
    font-size: 18px;
    
  }

  .white-divider {
    margin-block: 1.5rem 2rem;
  }

  .custom-section-nav-section {
    padding-block: 3rem 4rem;
  }

  .fixed-top .custom-section-nav-section {
    padding-block: .5rem 1.5rem;
  }

  .custom-section-nav {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .custom-section-nav a {
    font-size: 26px;
  }

  .custom-section-nav a.active {
    padding: 10px;
  }

  .design-process-title {
    font-size: 75px;
  }  

  .design-process-sub-title {
    font-size: 40px;
  }

  .bigptext {
    font-size: var(--fds-fs-500);
    line-height: 1.5rem;
  }  

  .tablet-step-1-img {
    width: 100%;
  }

  .specification-content {
    padding-left: 1.5rem;
    border-left: 5px solid #798393;
  }

  .fds-bg-aqm-blue .specification-content {
    margin-block: 2rem 3rem;
  }
}

@media (min-width: 992px) {
  .banner-text__header {
    font-size: var(--fds-fs-907);
  }

  .banner-large-subheader {
    font-size: 36px;
  }

  .banner-small-text {
    font-size: 26px;
    line-height: 1.4;
  }

  .white-divider {
    margin-block: 2.5rem 3rem;
  } 
}

@media (min-width: 1200px) {
  .step-1section {
    min-height: 800px;
    display: flex;
    align-items: center;
  } 

  .desktop-step-1-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
  }
}

@media (min-width: 1350px) {
  .banner-large-subheader {
    font-size: var(--fds-fs-907);
  }
}