.zindex-1 {
  z-index: 1;
}

.fit-width {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrap-balanced {
  text-wrap: balance;
}

.mw-1020 {
  max-width: 1020px;
}

.mw-800 {
  max-width: 800px;
}

.mw-650 {
  max-width: 650px;
}

.aiq-header img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
      object-fit: cover;
}

.aiq-header .header-banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  right: unset;
  bottom: unset;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 100%;
}

.banner-text__header {
  font-size: 36px;
  line-height: 1;
  text-transform: unset;
  font-weight: 400;
}

.banner-text__header span {
  font-size: 30px;
  display: block;
}

.ashrae-logo {
  display: block;
  width: 100%;
  max-width: 165px;
  position: absolute;
  top: -64.25px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-text {
  font-size: 30px;
  line-height: 110%;
  color: #778495;
}

.array-logo-wrapper {
  font-size: 30px;
  line-height: 110%;
  color: #778495;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.array-logo {
  display: block;
  width: 100%;
  max-width: 230px;
}

.aiq-separator {
  display: block;
  height: 1px;
  width: 180px;
  margin-inline: auto;
  background-color: #778495;
}

.section-heading {
  font-size: 26px;
  color: #778495;
  font-weight: 400;
}

.section-text {
  font-size: 18px;
  line-height: 150%;
  color: #778495;
}

.aiq-light-btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: var(--fds-blue);
    background-color: #fff;
    padding: .75rem 3rem;
    border-radius: 5000px;
    transition: all .3s ease-in-out;
    border: none;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-top: 2rem;
}

.aiq-light-btn:hover,
.aiq-light-btn:focus {
    background-color: var(--mdb-link-hover-color);
    color: #fff;
}

.aiq-grey-btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background-color: var(--fds-blue);
    padding: .75rem 3rem;
    border-radius: 5000px;
    transition: all .3s ease-in-out;
    border: none;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-top: 2rem;
}

.aiq-grey-btn:hover,
.aiq-grey-btn:focus {
    background-color: var(--mdb-link-hover-color);
    color: #fff;
}

.fellowes-array-logo {
    display: block;
    width: 100%;
    max-width: 175px;
    margin-inline: auto;
}

.array-product-ring {
    display: block;
    width: 100%;
    max-width: 430px;
    margin-inline: auto;
    margin-top: 2rem;
}

.feature-title,
.feature-text {
  font-size: 14px;
  line-height: 21.5px;
  color: #778495;
  margin-bottom: 0;
}

.feature-title {
  font-weight: 700;
}

.featured-small-txt {
  font-size: 7px;
  color: #778495;
  line-height: 1.4;
}

.features-list-wrapper {
    display: grid;
    gap: 2rem;
}

.icon-text-block {
    text-align: center;
    margin-top: 3rem;
}

.icon-img {
    display: block;
    width: 100%;
    max-width: 42px;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.icon-text-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #778495;
}

.icon-text-desc {
    font-size: 14px;
    line-height: 22px;
    max-width: 260px;
    margin-inline: auto;
    color: #778495;
}

.iaq-table {
  max-width: 300px;
  margin-inline: auto;
}

.iaq-table .thead {
    background-color: var(--fds-blue);
    color: #fff;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
}

.iaq-table .tr {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
}

.iaq-table .th {
    font-weight: 700;
    padding: .5rem .75rem;
    border-right: 1px solid #fff;
}

.iaq-table .th:last-child {
  border-right: none;
}

.iaq-table .td {
  text-wrap: balance;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  color: #778495;
  text-align: center;
  padding: .5rem .75rem;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
}

.iaq-table .td:first-child {
  border-left: 1px solid #D9D9D9;
}

.icon-check {
    display: block;
    width: 100%;
    max-width: 20px;
    margin-inline: auto;
}

.table-indicator {
  display: block;
  width: 5px;
  height: 1px;
  margin-inline: auto;
  background-color: #D9D9D9;
}

.hvakr-logo {
  display: block;
  width: 100%;
  max-width: 180px;
  margin-inline: auto;
}

.stats-graphic {
  display: block;
  width: 100%;
  max-width: 220px;
  margin-inline: auto;
}

.promises-list-wrapper {
  max-width: 755px;
  margin-inline: auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #778495;
}

.promises-list-wrapper p {
  text-wrap: balance;
  margin-bottom: .5rem;
}

.promises-list {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.promises-list div {
    margin-top: .5rem;
}

.design-tool-sect-small-txt {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #778495;
  max-width: 845px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .fw-md-500 {
    font-weight: 500;
  }

  .aiq-header img {
    height: 600px;
  }

  .aiq-header .header-banner-text {
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%,-50%);
    max-width: unset;
  }

  .banner-text__header {
    font-size: 60px;
  }

  .banner-text__header span {
    font-size: 50px;
  }

  .ashrae-logo {
    top: -137.35px;
    max-width: 350px;
  }

  .intro-text {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .array-logo-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .array-logo {
    max-width: 290px;
  }

  .aiq-separator {
    width: 700px;
  }

  .section-heading {
    font-size: 40px;
  }

  .section-text {
    font-size: 20px;
  }

  .fellowes-array-logo {
    max-width: 245px;
  }

  .array-product-ring {
    margin-top: 3rem;
  }

  .feature-title,
  .feature-text {
    font-size: 20px;
    line-height: 26px;
  }

  .featured-small-txt {
    font-size: 10px;
  }

  .icon-img {
      max-width: 62px;
      margin-bottom: 2rem;
  }

  .icon-text-title {
      font-size: 26px;
      line-height: 36px;
  }

  .icon-text-desc {
      font-size: 22px;
      line-height: 36px;
      max-width: 880px;
  }

  .mw-800 {
    max-width: 800px;
  }

  .iaq-table {
    max-width: 900px;
  }

  .iaq-table .tr {
      grid-template-columns: 1fr 68px 68px;
  }  

  .iaq-table .thead {
    font-size: 20px;
    line-height: 26px;
  }

  .iaq-table .td {
    font-size: 20px;
    line-height: 26px;
    text-align: start;
    padding: .75rem 1rem;
  }

  .iaq-table .th {
    padding: .75rem 1rem;
  }

  .table-indicator {
    width: 10px;
    height: 2px;
  }

  .hvakr-logo {
    max-width: 260px;
  }

  .stats-graphic {
    max-width: 312px;
  }

  .promises-list-wrapper {
    font-size: 26px;
    line-height: 36px;
  }

  .promises-list {
    font-size: 22px;
    line-height: 36px;
  }

  .design-tool-sect-small-txt {
    font-size: 20px;
    line-height: 36px;
  }
}