.mw-475 {
    max-width: 475px;
}

.aqm-header .header-bg-img {
    height: 425px;
    -o-object-fit: cover;
        object-fit: cover;
    -o-object-position: center;
        object-position: center;
}

.section-heading {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: capitalize;
}

.lightbox-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.play-img {
    display: block;
    width: 100%;
    max-width: 100px;
    margin-inline: auto;
}

.video-downloads-section {
    background-image: url(../img/aqm-videos-tutorials/section-bg-img-downloads-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aqm-assessment-section {
    background-image: url(../img/aqm-videos-tutorials/section-bg-img-assessment-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .aqm-header .header-bg-img {
        height: 700px;
    }

    .section-heading {
        font-size: 40px;
    }

    .section-text {
        font-size: 24px;
        line-height: 36px;
    }

    .aqm-tuts-link {
        font-size: 20px;
        line-height: 1.1;
    }

    .aqm-tuts-link.link-underlined::after {
        top: unset;
        bottom: -10px;
        width: 60px;
    }

    .lightbox-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .play-img {
        max-width: 415px;
    }

    .video-downloads-section {
        background-image: url(../img/aqm-videos-tutorials/section-bg-img-downloads-desktop.jpg);
    }

    .aqm-assessment-section {
        background-image: url(../img/aqm-videos-tutorials/section-bg-img-assessment-desktop.jpg);
    }
}