.dark-img-overlay::before {
  opacity: 0.7;
}

.header-banner-text {
  max-width: unset;
  width: 100%;
}

.banner-text__header {
  text-transform: unset;
}

.header-title {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
  color: #fff;
}

.array-header .header-bg-img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.aqm-section-subtitle {
  font-size: 22px;
  color: var(--fds-blue);
}

.aqm-section-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--fds-blue);
}

@media (max-width: 767.9px) {
  .header-banner-text {
    position: absolute;
    left: 50%;
    right: unset;
    bottom: 2em;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media (min-width: 768px) {
  .array-header .header-bg-img {
    height: 600px;
  }

  .aqm-section-subtitle {
    font-size: 40px;
  }

  .aqm-section-title {
    font-size: 60px;
  }
}