.relay-video-section-heading {
    font-size: 35px;
    line-height: 41px;
    font-weight: 500;
}

.relay-video-section-text {
    font-size: 15px;
    line-height: 20px;
}

.command-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: var(--fds-blue);
    margin-bottom: 1.5rem;
}

.command-desc {
    font-size: 18px;
    line-height: 30px;
    color: var(--fds-blue);
}

.sensors-icon-grid {
    max-width: 300px;
    padding-bottom: 1rem;
}

.sensors-item-text {
    color: #fff;
}

.sensors-icon-wrapper {
    background-color: transparent;
    border-radius: unset;
    width: 80px;
}

.sensors-icon {
    height: 65px;
}

.relay-bluesection-title {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.relay-bluesection-desc {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.bms-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.bms-desc {
    font-size: 18px;
    line-height: 30px;
    color: var(--fds-blue);
}

.standard-section-img {
    max-width: 275px;
    margin-inline: auto;
}

.gateway-relay-img {
    display: block;
    width: 100%;
}

.gateway-bacnet-logo {
    display: block;
    width: 100%;
    max-width: 150px;
}

.gateway-list {
    padding-left: 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 19px;
    color: var(--fds-blue);
    max-width: 403px;
}

.harness-title {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: var(--fds-blue);
    margin-bottom: 1rem;
}

.harness-img {
    display: block;
    width: 100%;
    max-width: 990px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .relay-video-section-text {
        font-size: 20px;
        line-height: 30px;
    }

    .command-title {
        font-size: 38px;
        line-height: 45px;
    }
    
    .command-desc {
        font-size: 20px;
        line-height: 30px;
    }

    .sensors-icon-grid {
        max-width: 700px;
        row-gap: 1rem;
        margin-top: 2rem;
        padding-bottom: 2rem;
    }

    .sensors-icon-wrapper {
        width: 80px;
    }

    .sensors-icon {
        height: 65px;
    }

    .relay-bluesection-title {
        font-size: 38px;
        line-height: 45px;
        font-weight: 400;
    }
    
    .relay-bluesection-desc {
        font-size: 20px;
        line-height: 30px;
    }

    .bms-title {
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
    }

    .bms-desc {
        font-size: 20px;
    }

    .standard-section-img {
        max-width: 450px;
    }

    .gateway-list {
        font-size: 14px;
    }

    .harness-title {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 3rem;
    }

    .harness-img {
        padding-bottom: 2rem;
    }
}