.bms-bluesection-subtitle {
    font-size: 22px;
    line-height: 30px;
}

.bms-bluesection-subtitle .bolded {
    font-weight: 800;
}

.bms-bluesection-img {
    display: block;
    width: 100%;
    max-width: 240px;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.bms-bluesection-footer {
    font-size: 29px;
    line-height: 30px;
    font-weight: 600;
}

.rt-savings-section .sensors-icon-wrapper {
    background-color: #fff;
}

.iaq-data-grid .video-wrapper {
    width: 100%;
}

.data-grid-item-title {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    color: var(--fds-blue);
}

.data-grid-item-desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--fds-blue);
}

.data-grid-item {
    display: grid;
    gap: 1rem;
}

.data-grid-item-wrapper {
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 1rem;
}

.data-grid-item-icon img {
    display: block;
    width: 100%;
    margin-inline: auto;
}

.co2-icon {
    max-width: 65px;
}

.pm-icon, .occupancy-icon {
    max-width: 55px;
}

.humidity-icon {
    max-width: 45px;
}

.iaq-data-grid {
    display: grid;
    gap: 3rem;
}

.command-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: var(--fds-blue);
    margin-bottom: 1.5rem;
}

.command-desc {
    font-size: 18px;
    line-height: 30px;
    color: var(--fds-blue);
}

.command-laptop-img {
    display: block;
    width: 100%;
    max-width: 630px;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.relay-section-img {
    display: block;
    width: 100%;
    max-width: 715px;
    margin-inline: auto;
    margin-block: 2rem 1rem;
}

.why-bacnet-img {
    display: block;
    width: 100%;
}

.why-bacnet-title {
    font-size: 27px;
    line-height: 31px;
    font-weight: 400;
    margin-bottom: 0;
}

.bacnet-logo {
    display: block;
    width: 100%;
    max-width: 250px;
    margin-bottom: 3rem;
    margin-inline: auto;
}

.why-bacnet-subtitle {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.why-bacnet-desc {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .bms-bluesection-img {
        max-width: 330px;
        margin-block: 2.5rem;
    }

    .bms-bluesection-footer {
        font-size: 39px;
        line-height: 40px;
    }

    .data-grid-item-title {
        font-size: 26px;
        line-height: 34px;
    }

    .data-grid-item-desc {
        font-size: 17px;
        line-height: 29px;
        max-width: 290px;
    }

    .data-grid-item {
        gap: 0rem;
        grid-template-columns: 1fr 1fr;
    }

    .data-grid-item-wrapper {
        grid-template-columns: 100px 1fr;
        gap: 1.5rem;
    }

    .co2-icon {
        max-width: 100px;
    }

    .pm-icon, .occupancy-icon {
        max-width: 85px;
    }

    .humidity-icon {
        max-width: 65px;
    }

    .iaq-data-grid {
        gap: 4rem;
    }

    .command-title {
        font-size: 38px;
        line-height: 45px;
    }
    
    .command-desc {
        font-size: 20px;
        line-height: 30px;
    }

    .command-laptop-img {
        margin-block: 0rem 2.5rem;
    }

    .relay-section-img {
        margin-block: 4rem 2rem;
    }

    .why-bacnet-title {
        font-size: 35px;
        line-height: 41px;
        font-weight: 500;
        text-align: center;
    }

    .why-bacnet-subtitle {
        font-size: 25px;
    }

    .bacnet-logo {
        max-width: 425px;
        margin-bottom: 4rem;
        margin-inline: unset;
    }
}