.system-design-icon {
    display: block;
    width: 100%;
    max-width: 50px;
    margin-top: 1.5rem;
}

.bms-section-img {
    display: block;
    width: 100%;
    max-width: 610px;
    margin-inline: auto;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .ventilation-section-text {
        max-width: 330px;
    }

    .system-design-section-text {
        max-width: 400px;
    }

    .bms-section-img {
        margin-top: 3rem;
    }
}

@media (min-width: 992px) {
    .ventilation-section-text {
        max-width: 450px;
    }

    .system-design-section-text {
        max-width: 530px;
    }

    .system-design-icon {
        max-width: 85px;
        margin-top: 2.5rem;
    }
}