.mw-960 {
    max-width: 960px;
    margin-inline: auto;
}

.mw-920 {
    max-width: 920px;
    margin-inline: auto;
}

.mw-880 {
    max-width: 880px;
    margin-inline: auto;
}

.mw-850 {
    max-width: 850px;
    margin-inline: auto;
}

.mw-630 {
    max-width: 630px;
    margin-inline: auto;
}

.mw-515 {
    max-width: 515px;
}

.mw-475 {
    max-width: 475px;
}

.mw-400 {
    max-width: 400px;
}

.px-4-5 {
    padding-inline: 2rem;
}

.py-4-5 {
    padding-block: 2rem;
}

.gy-4-5 {
    --mdb-gutter-y: 2.25rem;
}

.header-banner-text {
    max-width: unset;
}

.array-header img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
}

.bluesection-icon {
    display: block;
    width: 100%;
    max-width: 60px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.bluesection-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 1rem;
}

.bluesection-desc {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.array-section-heading {
    font-size: 23px;
    font-weight: 600;
    line-height: 27px;
    color: var(--fds-blue);
    margin-bottom: 1rem;
}

.array-section-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    color: var(--fds-blue);
}

.video-section {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(246, 245, 243, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f6f5f3",GradientType=1);
}

.video-wrapper {
    cursor: pointer;
    overflow: hidden;
    width: 90%;
    padding-inline: 0;
}

.video-play-wrapper {
    position: absolute;
    inset: 0;
    z-index: 100;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.video-play-wrapper img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.video-wrapper video {
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.video-play-wrapper.hide {
    z-index: -1;
    opacity: 0;
}

.video-wrapper video.hide {
    opacity: 0;
    z-index: -1;
}

.floating-text-section-img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.floating-text-section-container {
    margin-bottom: -3rem;
    position: relative;
    z-index: 10;
}

.floating-text-section-text {
    max-width: 230px;
}

.array-slider .carousel-indicators [data-mdb-target] {
    width: 15px;
    height: 15px;
    border-radius: 5000px;
    border: none !important;
    background-color: #fff;
}


.slider-text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-section-img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
}

.slider-section-text {
    max-width: 400px;
}

.array-section-button {
    font-size: 13px;
    line-height: 1;
    color: #fff;
    background-color: var(--fds-blue);
    padding: .5rem 2rem;
    border-radius: 5000px;
    transition: all .3s ease-in-out;
}

.array-section-button:hover,
.array-section-button:focus {
    background-color: var(--mdb-link-hover-color);
    color: #fff;
}

.array-white-btn {
    background-color: #fff;
    color: var(--fds-blue);
}

.array-btn-lg-txt {
    font-weight: 600;
}

.array-centered-btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
}

.heading-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heading-icon {
    display: block;
    width: 100%;
    max-width: 35px;
}

.heading-icon-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--fds-blue);
}

.stats-grid {
    display: grid;
    gap: 1rem;
    padding-top: 2rem;
    max-width: 500px;
}

.stat-item {
    display: grid;
    grid-template-columns: 1fr 65px;
    gap: 1.75rem;
}

.stat {
    display: flex;
    gap: 1rem;
}

.stat-circle-img {
    display: block;
    width: 100%;
    max-width: 65px;
}

.circle-num {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: #AEBED3;
    width: 22px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5000px;
}

.stat-title {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--fds-blue);
}

.stat-desc {
    font-size: 12px;
    line-height: 16px;
    color: var(--fds-blue);
}

@media (min-width: 768px) {
    .break-on-desktop {
        display: block;
    }
    
    .bluesection-icon {
        max-width: 95px;
        margin-bottom: 3rem;
    }

    .bluesection-title {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 1.5rem;
    }

    .bluesection-desc {
        font-size: 22px;
        line-height: 39px;
    }

    .array-section-heading {
        font-size: 36px;
        line-height: 42px;
        padding-bottom: 1.5rem;
    }

    .array-section-text {
        font-size: 18px;
        line-height: 30px;
    }

    .video-section {
        padding-block: 2rem;
    }

    .floating-text-section {
        display: flex;
    }

    .floating-text-section-img {
        display: block;
        width: 50%;
        height: 100%;
        min-height: 600px;
        max-height: 800px;
        -o-object-fit: cover;
            object-fit: cover;
        -o-object-position: left center;
            object-position: left center;
        -webkit-margin-start: auto;
                margin-inline-start: auto;
    }
    
    .floating-text-section-container {
        width: 100%;
        margin-bottom: unset;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .array-btn-lg-txt {
        font-size: 18px;
    }

    .heading-icon {
        max-width: 66px;
    }
    
    .heading-icon-heading {
        font-size: 32px;
        line-height: 37px;
    }

    .stat-title {
        font-size: 18px;
    }

    .stat-desc {
        font-size: 15px;
        line-height: 19px;
    }

    .circle-num {
        font-size: 18px;
        width: 31px;
    }

    .stats-grid {
        padding-top: 3rem;
    }
}

@media (min-width: 992px) {
    .array-slider-section {
        display: grid;
        grid-template-columns: 60% 40%;
        height: 800px;
    }

    .array-slider .carousel-item img {
        width: 100%;
        height: 800px;
        -o-object-fit: cover;
           object-fit: cover;
    }
}