.envirosmart-logo {
    display: block;
    width: 100%;
    max-width: 225px;
    margin-inline: auto;
    margin-top: 2.5rem;
}

.realtime-data-icon {
    display: block;
    width: 100%;
    max-width: 40px;
    margin-inline: auto;
    margin-bottom: .5rem;
}

.certs-logos {
    display: block;
    width: 100%;
    max-width: 275px;
    margin-inline: auto;
    margin-top: 2.5rem;
}

.clean-air-section-img {
    max-width: 50%;
    margin-left: auto;
    padding-top: 2rem;
}

.merv-13-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: var(--fds-blue);
    max-width: 155px;
}

.mobile-bottom-section .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media (min-width: 768px) {
    .envirosmart-logo {
        max-width: 420px;
        margin-top: 4rem;
    }

    .realtime-data-icon {
        max-width: 70px;
    }

    .certs-logos {
        max-width: 550px;
        margin-top: 3rem;
    }

    .merv-13-text {
        font-size: 20px;
        line-height: 23px;
        max-width: 230px;
    }
}

@media (min-width: 992px) {
    .clean-air-section-img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .merv-13-text {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .centered-container {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .clean-air-section-img {
        max-width: 50%;
        padding-top: 0;
        position: relative;
        right: unset;
        top: unset;
        transform: unset;
    }
}