.mw-600 {
  max-width: 600px !important;
}

.mw-800 {
  max-width: 800px;
}

.mw-950 {
    max-width: 950px;
    margin-inline: auto;
}

.fw-500 {
  font-weight: 500 !important;
}

.text-dkgrey {
  color: #545454;
}

.video-intro {
  -o-object-fit: cover;
      object-fit: cover;
  aspect-ratio: 8 / 3;
  width: 100%;
}

.header-mobile-section img {
  height: 500px;
  -o-object-fit: cover;
      object-fit: cover;
  -o-object-position: top left;
      object-position: top left;
}

.header-banner-top-text {
  bottom: unset;
  top: 2rem;
}

.best-sellers-section {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.btn-gray {
  background: #aca8a8;
  color: #fcf9f9;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-gray:first-child:hover, 
.btn-gray:focus-visible, 
.btn-gray:hover, 
.btn-gray:focus, 
:not(.btn-check) + .btn-gray:hover {
  background: #e3e3e3;
  color: #58595b;
  box-shadow: none;
}

.btn-white {
  background: #fff;
  color: #000;
  font-size: var(--fds-fs-500);
  border-radius: 50px;
  box-shadow: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-white:first-child:hover, 
.btn-white:focus-visible, 
.btn-white:hover, 
.btn-white:focus, 
:not(.btn-check) + .btn-white:hover {
  background: #e3e3e3;
  color: #58595b;
  box-shadow: none;
}

.page-section-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 400;
  -webkit-margin-after: 2rem;
  margin-block-end: 2rem;
}

.best-sellers-grid {
  max-width: 950px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5rem;
}

.prod-grid-item {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
}

.prod-item-spacer {
  height: 10px;
}

.prod-item-img {
  display: block;
  width: 100%;
  max-width: 230px;
  margin-inline: auto;
}

.prod-item-txt {
  font-size: 8px;
  line-height: 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.evfriendly-section {
  padding-block: 1rem 3rem;
}

.page-section-heading {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  -webkit-margin-after: 1.5rem;
      margin-block-end: 1.5rem;
}

.page-section-desc {
  font-size: 18px;
  line-height: 24px;
  text-wrap: pretty;
}

.two-img-wrapper {
  display: grid;
  gap: 1rem;
  max-width: 1065px;
  margin-inline: auto;
  margin-top: 2rem;
}

.two-img-wrapper img {
    display: block;
    width: 100%;
    max-width: 520px;
    margin-inline: auto;
}

.feature-item {
  display: flex;
  gap: 1rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.feature-item-img {
  width: 82px;
  height: 82px;
  flex-shrink: 0;
}

.feature-item-title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #7c7c80;
}

.feature-item-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #7c7c80;
}

.btl-logos {
  display: block;
  width: 100%;
  max-width: 175px;
  margin-top: 3rem;
}

.btl-content-wrapper {
  max-width: 420px;
  padding: 3rem 2.5rem;
}

.options-border {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3rem;
}

.options-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #000;
  -webkit-padding-after: 1.5rem;
          padding-block-end: 1.5rem;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  text-align: center;
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.options-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fff;
  justify-content: flex-end;
}

.options-item-img {
  display: block;
  width: 100%;
}

.options-item-title {
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.options-color-wrapper {
  display: grid;
  gap: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.options-color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.options-color-text {
  font-size: 12px;
  line-height: 14px;
}

.options-color-circle {
  display: block;
  width: 100%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 5000px;
  border: 1px solid;
}

.option-white-circle {
  background-color: #fff;
  border-color: #707070;
}

.option-black-circle {
  background-color: #000;
  border-color: #000;
}

.option-silver-circle {
  background-color: #cccccc;
  border-color: #cccccc;
}

.customize-space-section {
  background-image: url(../img/cat-tables-espree/section-bg-img-customize.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customize-space-title {
  color: #fff;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 2rem;
}

.accordion-variation.accordion-borderless .accordion-item {
  margin-bottom: 0.5rem;
}

.accordion-variation.accordion-borderless .accordion-item .accordion-button:not(.collapsed),
.accordion-variation.accordion-borderless .accordion-item .accordion-button {
  background: #f6f5f3;
  border-radius: 0;
  display: block;
  text-align: center;
  font-size: var(--fds-fs-600);
  line-height: var(--fds-fs-710);
  color: var(--fds-black);
}

.accordion-variation.accordion-borderless .accordion-item .accordion-button:after {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: var(--fds-black);
  margin-left: 0.5rem;
}

.accordion-variation .accordion-button:not(.collapsed):after {
  background-image: var(--mdb-accordion-btn-icon);
}

.accordion-variation .accordion-body {
  background: #f6f5f3;
}

.toolkit-box {
  border-radius: 34px;
}

.resource-link {
  transition: all 0.4s;
  display: block;
  padding: .75rem;
}

.toolkit-download-title {
  font-size: 13px;
  line-height: 1.1;
  font-weight: 700;
}

.resource-link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

@media (min-width: 768px) {
  .header-banner-centered-text {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    max-width: unset;
  }

  .header-banner-centered-text .banner-text__header {
    font-size: 4rem;
  }

  .header-banner-centered-text .banner-text__subtitle {
    font-size: 2.125rem;
  }

  .best-sellers-section {
    padding-top: 4.5rem;
  }

  .page-section-heading {
    font-size: 40px;
    line-height: 47px;
    -webkit-margin-after: 3rem;
    margin-block-end: 3rem;
  }

  .best-sellers-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
  }

  .prod-item-spacer {
    height: 14px;
  }

  .prod-item-txt {
    font-size: 12px;
    line-height: 14px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .evfriendly-section {
    padding-block: 4rem;
  }

  .page-section-heading {
    font-size: 40px;
    line-height: 47px;
    -webkit-margin-after: 2rem;
        margin-block-end: 2rem;
  }

  .page-section-desc {
    font-size: 19px;
    line-height: 27px;
  }

  .two-img-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
  }

  .feature-item {
    -webkit-margin-after: 0rem;
            margin-block-end: 0rem;
  }

  .btl-logos {
    max-width: 255px;
    margin-top: 4rem;
  }

  .btl-content-wrapper {
    max-width: 420px;
    padding: 0;
  }

  .customize-space-title {
    font-size: 60px;
    margin-bottom: 3rem;
  }

  .accordion-variation.accordion-borderless .accordion-item .accordion-button {
    font-size: var(--fds-fs-750);
    line-height: var(--fds-fs-825);
  }  
}

@media (max-width: 991.9px) {
  .options-color-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .options-border {
    border-right: 1px solid #cccccc;
    border-bottom: unset;
    padding-bottom: unset;
  }

  .customize-space-title {
    font-size: 94px;
  }

  .resource-link {
    padding: 1.5rem;
  }

  .resource-link-grid {
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .options-container {
    max-width: 1140px;
  }
}