html {
  scroll-behavior: smooth !important;
}

.mw-870 {
  max-width: 870px;
}

.mw-750 {
  max-width: 750px;
}

.mw-650 {
  max-width: 650px;
}

.mw-600 {
  max-width: 600px;
  margin-inline: unset;
}

.mw-475 {
  max-width: 475px;
}

.mw-455 {
  max-width: 455px;
}

.mw-270 {
  max-width: 270px;
}

.mw-200 {
  max-width: 200px;
}

.mw-145 {
  max-width: 145px;
}

p.preg12:empty {
  display: none;
}

.faq-prod-wrapper {
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.faq-prod-wrapper:last-of-type {
  margin-bottom: 0rem;
}

.faq-prod-wrapper img {
    margin-left: auto;
    margin-right: auto;
  }

.sub-title {
  color: var(--fds-black);
  font-size: var(--fds-fs-710);
  line-height: var(--fds-fs-750);
  font-weight: 500;
}
.faq-title {
  font-weight: 700;
  font-size: var(--fds-fs-750);
  line-height: var(--fds-fs-860);
  color: var(--fds-black);
}
.preg22 {
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-600);
}
.faq-landing-box {
  border: 1px solid var(--fds-grey-600);
  padding: 1rem;
  height: 100%;
}
.faq-landing-box li a:hover {
  text-decoration: underline;
}
.faq-box-title {
  color: var(--fds-grey-800);
  padding: 0.5rem 0rem;
  border-top: 1px solid var(--fds-grey-800);
  border-bottom: 1px solid var(--fds-grey-800);
  font-weight: 500;
}
.list-none {
  list-style: none;
  padding-left: 0;
  font-size: 0.938rem;
  line-height: var(--fds-fs-400);
  margin-bottom: 0;
}
.list-none li {
  margin-bottom: 1.25rem;
}
.list-none li:last-child {
  margin-bottom: 0;
}
.faq-landing-box-details {
  padding: 1rem;
}
.link-otherfaq {
  color: #354769;
}
.aqm-detail-sub-title {
  color: #243148;
  font-size: var(--fds-fs-450);
  line-height: var(--fds-fs-710);
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--fds-grey-600);
}
.faq-table th {
  font-weight: 700;
  color: var(--fds-black);
}
.faq-table th,
.faq-table td {
  padding: 0.3rem 1rem;
}
.sticy-box-aqm-detail-page {
  width: 100%;
  border: 0;
  padding: 0;
}
.fixed-top.sticy-box-aqm-detail-page {
  position: fixed;
  top: 0px;
  left: 0;
  padding: 1rem 1rem 0rem 1rem;
  box-shadow: 0px 0px 5px #cccccc;
}
.mobile-aqm-faq-dropdown {
  padding: 1rem;
  border: 1px solid var(--fds-grey-600);
  position: relative;
  z-index: 100;
  background: var(--fds-white);
  font-size: var(--fds-fs-300);
}
.mobile-aqm-faq-dropdown i {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: var(--fds-fs-500);
  transform: translateY(-50%);
}
.mobile-none {
  display: none;
}
.mobile-none.d-block {
  padding: 1rem;
  overflow-y: auto;
  height: 250px;
}
.fw-700.mb-3 {
  margin-bottom: 0.5rem !important;
}
.preg14 {
  font-size: 0.938rem;
  line-height: var(--fds-fs-710);
}
table {
  font-size: var(--fds-fs-200) !important;
}
.preg12 {
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
}
.border-inner-top {
  border-top: 1px solid var(--fds-grey-600);
}
.inner-aqm-faq {
  border-bottom: 1px solid var(--fds-grey-600);
  padding: 1rem 0rem;
}
.inner-aqm-faq p:last-child {
  margin-bottom: 0;
}
.inner-aqm-faq p,
.inner-aqm-faq ul {
  font-size: var(--fds-fs-250);
  line-height: var(--fds-fs-450);
}
.inner-aqm-faq a {
  word-wrap: break-word;
}
#primary-content a {
  word-wrap: break-word;
}
.aeramax-logo {
  width: 194px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.faq-table ul {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: 14px !important;
}

.faq-table td {
    white-space: nowrap;
}

.faq-table {
    line-height: 1.1;
    font-size: 14px !important;
}

.table-xmark {
    display: block;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 992px) {
  .faq-section {
    padding-top: 90px !important;
    margin-top: -60px !important;
  }
}

@media (min-width: 768px) {
  .md-max290 {
    width: 290px;
  }

  .faq-prod-wrapper {
    display: grid;
    grid-template-columns: 145px 1fr;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    font-size: 18px;
  }

  .faq-prod-wrapper img {
    margin-left: 0px;
  }

  .sub-title {
    font-size: var(--fds-fs-750);
    line-height: var(--fds-fs-775);
  }
  .faq-title {
    font-size: var(--fds-fs-860);
    line-height: var(--fds-fs-907);
  }
  .preg22 {
    font-size: var(--fds-fs-700);
    line-height: var(--fds-fs-725);
  }
  .faq-landing-box {
    padding: 3rem;
  }
  .faq-landing-box-details {
    padding: 2rem;
  }
  .aqm-detail-sub-title {
    font-size: var(--fds-fs-600);
    line-height: var(--fds-fs-710);
  }
  .sticy-box-aqm-detail-page {
    border: none;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .mobile-none {
    display: block;
  }
  .sticy-box-aqm-detail-page {
    border: 1px solid var(--fds-grey-600);
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
  }

  .last-arrayfaq-section {
    padding-bottom: 300px;
  }
  .last-faq-section {
    padding-bottom: 275px;
  }
}