.inner-page-wrapper {
    padding-block: 2rem;
}

.content-block {
    display: flex;
    align-items: center;
}

.tois-content-wrapper {
    background-color: var(--fds-tan);
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tois-content-title {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: center;
}

.tois-content-desc {
    font-size: 14px;
    text-align: center;
}

.left-underline:after {
    left: 0;
    transform: none;
    bottom: -10px;
    top: inherit;
}

.multi-carousel-item a {
    display: block;
}

.array-lineup-carousel-title {
    font-size: 14px;
    line-height: 1;
    font-weight: 200;
}

.air-lineup-section .carousel-control-next, 
.air-lineup-section .carousel-control-prev {
    width: auto;
    color: #707070;
}

.air-lineup-section .carousel-control-next-icon, 
.air-lineup-section .carousel-control-prev-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.air-lineup-section {
    margin-bottom: 2rem;
}

@media (max-width: 767.9px) {
    .array-landing-header-section .header-banner-text {
        bottom: unset;
        top: 2rem;
    }

    .array-landing-header-section .banner-text__header {
        line-height: 1.2;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .array-landing-header-section .header-banner-text {
        max-width: 320px;
    }

    .array-landing-header-section .banner-text__header {
        font-size: var(--fds-fs-800);
    }

    .inner-page-wrapper {
        padding-block: 4rem;
    }

    .array-lineup-carousel-title {
        font-size: 24px;
    }

    .air-lineup-section {
        margin-bottom: 6rem;
    }
}

@media (max-width: 991.9px) {
    .content-block {
        width: 90%;
        margin-top: -2rem;
    }

    .left-underline:after {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) {
    .array-landing-header-section .header-banner-text {
        max-width: 460px;
    }

    .array-landing-header-section .banner-text__header {
        font-size: var(--fds-fs-907);
    }    

    .inner-page-wrapper {
        padding-block: 6rem;
    }

    .content-block {
        margin-right: -2rem;
        z-index: 100;
    }

    .tois-content-wrapper {
        padding: 3rem 2rem;
    }

    .tois-content-title {
        font-size: 35px;
        text-align: start;
    }

    .tois-content-desc {
        font-size: 16px;
        text-align: start;
    }

    .image-block img {
        height: calc(100% + 3rem);
        -o-object-fit: cover;
           object-fit: cover;
        margin-block: -1.5rem;
    }
}

@media (min-width: 1200px) {
    .array-landing-header-section .header-banner-text {
        max-width: 550px;
    }

    .tois-content-title {
        font-size: 40px;
    }

    .tois-content-desc {
        font-size: 18px;
    }
}