body {
  color: #000;
}

.text-wrap-balance {
  text-wrap: balance;
}

.mw-300 {
  max-width: 300px;
}

.header-banner-img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-banner-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  padding-inline: 1.5rem;
  right: unset;
  bottom: 2em;
  color: #fff;
}

.banner-text__header {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 300;
}

.banner-text__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.image-grid-section {
  display: grid;
  gap: .25rem;
  grid-template-columns: 1fr 1fr;
}

.image-grid-img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-item-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-inline: 1.25rem;
}

.grid-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-wrap: balance;
}

.grid-item-desc {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  text-wrap: pretty;
}

.section-title {
  font-size: 24px;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.section-text {
  font-size: 14px;
  line-height: 1.4;
}

.mb-rounded-img {
  display: block;
  width: 100%;
  border-radius: .5rem;
}

.btn-grey {
  box-shadow: none !important;
  background-color: #F7F5F3;
  color: #000 !important;
  text-transform: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  line-height: 1;
  padding: .5rem 2rem;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: #000 !important;
  color: #F7F5F3 !important;
}

.flex-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    color: #000;
}

.custom-control-arrows img {
    display: block;
    width: 100%;
    max-width: 12px;
}

.custom-control-arrows {
    display: flex;
    align-content: center;
    gap: 1rem;
}

.custom-slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  will-change: transform;
  gap: 1rem;
  transition: all 0.4s;
}

.custom-slider .custom-slide {
    width: 100%;
    max-width: 65%;
    flex: 1 0 auto;
    transition: all 0.4s;
}

.custom-slider .custom-slide:last-child {
  margin: 0 !important;
}

.custom-slide-title {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.custom-slide-description {
    text-wrap: pretty;
    color: #000;
}

@media (min-width: 768px) {
  .header-banner-img {
    height: 600px;
  }

  .header-banner-text {
    bottom: 3em;
    right: unset;
  }

  .banner-text__header {
    font-size: 55px;
  }

  .banner-text__subtitle {
    font-size: 35px;
  }

  .grid-item-content-wrapper {
    max-width: 350px;
    margin-inline: auto;
  }

  .grid-item-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .grid-item-desc {
    font-size: 26px;
    text-align: center;
  }

  .section-title {
    font-size: 40px;
  }

  .section-subtitle {
    font-size: 30px;
  }

  .section-text {
    font-size: 18px;
  }

  .mb-rounded-img {
    border-radius: 1rem;
  }

  .btn-grey {
    padding: .5rem 2rem;
    font-size: 18px;
  }

  .flex-header-wrapper {
    grid-template-columns: 1fr 70px;
  }


  .custom-control-arrows img {
      max-width: 17px;
  }

  .custom-control-arrows {
    gap: 2rem;
  }

  .custom-slider {
    gap: 1.5rem;
  }

  .custom-slider .custom-slide {
    max-width: 45%;
  }

  .custom-slide-title {
    font-size: 30px;
  }

  .custom-slide-description {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .image-grid-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}