.mw-600 {
  max-width: 600px;
  margin-inline: auto;
}

.header-section img {
  min-height: 450px;
  object-fit: cover;
}

.thin-section .row {
  min-height: 600px;
}

.section-title,
.section-body {
  margin-bottom: 1rem;
}

.perfect-title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  max-width: 90%;
  font-size: 28px;
}

.ltw-graphic {
  width: 100%;
  max-width: 150px;
  margin-inline: auto;
}

.performance-img {
  max-width: 90%;
  margin-inline: auto;
}

.iconic-section-img {
  width: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  object-position: top center;
  height: 100%;
}

.logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 70%;
  margin-inline: auto;
}

.logo-item {
  display: block;
  width: 100%;
  max-width: 158px;
}

.ghost-btn {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 3rem;
  display: block;
  width: fit-content;
  margin-inline: auto;
  transition: all 0.3 ease-in-out;
}

.ghost-btn:hover,
.ghost-btn:focus-within {
  color: #000;
  background-color: var(--fds-yellow);
  border-color: var(--fds-yellow);
}

.explore-img {
  display: block;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

.explore-img.dark-img-overlay::before {
  z-index: 10;
  opacity: 0.7;
}

.explore-img:hover,
.explore-img:focus {
  color: #fff;
}

.explore-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.explore-img:hover > img,
.explore-img:focus > img {
  transform: scale(1.1);
}

.explore-img-text {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  z-index: 100;
  padding-inline: 0.25rem;
}

.explore-img-title {
  font-size: 26px;
  text-transform: uppercase;
}

.explore-img-desc {
  line-height: 1.2;
  font-size: 14px;
}

.explore-img-lg img,
.explore-img-md img {
  height: 200px;
}

.marquee-container {
  width: 100%;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid #707070;
}

.marquee-content {
  display: flex;
  column-gap: 4rem;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
  color: #000;
}

.marquee-text-bold {
  font-weight: 700;
}

.monitor-blocks-wrapper {
  inset: 0;
}

.monitor-block-item {
  position: absolute;
  width: fit-content;
  text-align: center;
  line-height: 1.2;
}

.monitor-title {
  font-size: 1.1rem;
  color: #000;
}

.monitor-desc {
  font-size: .5rem;
}

.monitor-rising {
  top: 22%;
  left: 41%;
}

.monitor-sena {
  top: 29%;
  left: 7%;
}

.monitor-evolve {
  top: 84.5%;
  left: 16%;
}

.monitor-edge {
  top: 78%;
  right: 13.5%;
}

.monitor-kata {
  top: 43.5%;
  right: 6.5%;
}

.monitor-eppa {
  top: 52%;
  right: 44%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* Optional: Pause animation on hover */
/* .marquee-container:hover .marquee-content {
  animation-play-state: paused;
} */

@media (min-width: 768px) {
  .ltw-graphic {
    max-width: 175px;
  }

  .section-title {
    font-size: 34px;
  }

  .performance-img {
    padding-bottom: 6rem;
    max-width: 100%;
  }

  .perfect-title {
    top: 3rem;
    font-size: 36px;
  }

  .marquee-content {
    column-gap: 6rem;
    animation: marquee 30s linear infinite;
  }

  .marquee-item {
    font-size: 1.5rem;
  }

  
  .monitor-title {
    font-size: 1.5rem;
  }
  
  .monitor-desc {
    font-size: .7rem;
  }

  .monitor-rising {
    top: 22.5%;
    left: 30%;
  }

  .monitor-sena {
    top: 37.5%;
    left: 4%;
  }

  .monitor-evolve {
    top: 88%;
    left: 35%;
  }

  .monitor-edge {
    top: 87.75%;
    right: 26.5%;
  }

  .monitor-kata {
    top: 51.5%;
    right: 7.5%;
  }

  .monitor-eppa {
    top: 38.5%;
    right: 30%;
  }
}

@media (min-width: 992px) {
  .ltw-graphic {
    max-width: 200px;
  }

  .section-title,
  .section-body {
    margin-bottom: 1.5rem;
  }

  .section-title {
    font-size: 36px;
  }

  .section-body {
    font-size: 20px;
  }

  .logo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }

  .explore-img {
    border-radius: 1rem;
  }

  .explore-img-text {
    bottom: 1.5rem;
  }

  .explore-img-title {
    font-size: 40px;
  }

  .explore-img-desc {
    font-size: 18px;
  }

  .explore-img-lg img {
    height: 400px;
  }

  .explore-img-md img {
    height: 264px;
  }

  .perfect-title {
    font-size: 44px;
  }
  .marquee-content {
    column-gap: 9rem;
    animation: marquee 40s linear infinite;
  }

  .monitor-rising {
    top: 26%;
    left: 23%;
  }

  .monitor-sena {
    top: 68.5%;
    left: 5.5%;
  }

  .monitor-evolve {
    top: 80.8%;
    left: 29.3%;
  }

  .monitor-edge {
    top: 85.75%;
    right: 15.5%;
  }

  .monitor-kata {
    top: 45%;
    right: 13%;
  }

  .monitor-eppa {
    top: 34%;
    right: 31%;
  }
}

@media (min-width: 1200px) {
  .ltw-graphic {
    max-width: 216px;
  }

  .section-title,
  .section-body {
    margin-bottom: 2rem;
  }

  .section-body {
    font-size: 22px;
  }
}
