.header-img {
  min-height: 300px;
  width: 100%;
}

.placeholder-glow .header-banner-text {
  width: 100%;
}

.config-item-wrapper {
  display: grid;
  gap: 1.5rem;
}

.config-item {
  position: relative;
  background-color: #efefef;
  padding: 1.5rem;
  text-align: center;
}

.config-item__img,
.config-item__img-hover {
  aspect-ratio: 1;
  margin-bottom: 0.5rem;
}

.config-item__img-hover {
  display: none;
}

.config-item.show .config-item__img {
  display: none;
}

.config-item.show .config-item__img-hover {
  display: block;
}

.config-item__title {
  font-weight: 700;
  font-size: 12px;
  color: #000;
}

.prod-grid-item {
  background-color: #efefef;
  padding: 1rem;
}

.prod-item__img {
  margin-bottom: 1rem;
}

.prod-item__title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 400;
  color: #000;
}

.prod-grid-section {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .header-banner-text {
    max-width: unset;
  }
  .header-img {
    min-height: 500px;
  }
  .config-item-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .prod-grid-item {
    padding: 1.5rem;
  }

  .prod-item__title {
    font-size: 30px;
  }

  .prod-grid-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .config-item-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
