.search-results-title {
  border-bottom: 1px solid #efefef;
}

.inner-title-wrapper {
  padding-block: 1rem;
}

.search-results-h1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.search-results-nav {
  flex-wrap: nowrap;
}

.search-nav-link.nav-link {
  text-transform: capitalize;
  display: block;
  font-size: 11px;
  font-weight: 400;
  color: #9A9A9A;
  padding: .75rem .5rem;
  border-radius: .5rem .5rem 0 0;
  border: none;
  position: relative;
  text-align: center;
}

.search-nav-link.nav-link.active {
  color: #000;
  background-color: #fff;
  border: none;
}

.search-nav-link.nav-link::after,
.search-nav-link.nav-link:hover::after {
  display: none;
}

.tab-title-wrapper {
  position: relative;
}

.search-nav-link.nav-link.active .tab-title-wrapper::after,
.search-nav-link.nav-link.active:hover .tab-title-wrapper::after {
  content: "";
  height: 1px;
  width: calc(100%);
  background-color: var(--fds-yellow);
  position: absolute;
  left: 50%;
  bottom: -4px;
  top: unset;
  right: unset;
  transform: translateX(-50%);
  opacity: 1;
}

.search-tab-content-wrapper .tab-pane {
  padding-block: 1rem;
}

.plp-section {
  padding-block: 0;
}

.filter-section__block {
  width: 100%;
}

.plp-inner-wrapper {
  padding-inline: 0rem;
}

.plp-vertical .plp-inner-wrapper {
  display: grid;
  grid-template-columns: unset;
  gap: .75rem;
}

.plp-vertical .page-results-section.plp-inner-wrapper {
  gap: 0;
}

.show-more-btn {
  border-radius: 50px;
  background: #E5E5E5;
  gap: .5rem;
  transition: all .3s ease-in-out;
}

.show-more-btn:hover,
.show-more-btn:focus {
  background-color: var(--fds-gold);
}

.plp-item {
  background-color: var(--fds-tan);
  padding: 1rem;
}

.plp-item:last-child {
  margin-bottom: 0;
}

.detail-links-wrapper {
  display: flex;
  gap: .35rem;
  margin-top: 1rem;
}

.catalog-data-item-detail-link {
  background-color: #E5E5E5;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  padding: .4rem 1rem;
  border-radius: 5000px;
}

.heroshot {
  width: 100%;
}

.catalog-data-item-detail-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: underline;
}

.catalog-data-item-detail-description {
  font-size: 13px;
  line-height: 1.4;
}

.reviews-wrapper {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.catalog-data-item-detail-review {
  height: 11.5px;
  width: auto;
}

.catalog-data-item-reviews-link {
    font-size: 9px;
    line-height: 1;
    color: #909090;
    text-decoration: underline;
    font-weight: 500;
}

.desc-list {
    height: auto;
}

.desc-list ul {
    padding-left: 0;
    margin-bottom: 0;
}

.plp-item__footer {
  height: auto;
}

.product-price,
.list-aftertext {
  font-size: 16px;
}

.mh-60 {
  min-height: 60px;
}

.mh-125 {
  min-height: 125px;
}

[data-loading="true"] .pagination {
  display: none;
}

.product-listing-section {
    width: 100%;
}

.content-data-item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  padding: .75rem;
}

.content-data-item:last-child {
  border-bottom: 1px solid #E5E5E5;;
}

@media (max-width: 767.9px) {
  .search-results-nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }

  .search-nav-link.nav-link {
    margin-inline: auto;
  }

  .plp-section {
    gap: 2rem;
  }
}

@media (max-width: 1199.98px) {
  .detail-content-upper-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
}

@media (min-width: 768px) {
  .inner-title-wrapper {
    padding-block: 1.5rem;
  }

  .search-results-h1 {
    font-size: 28px;
  }

  .search-nav-link.nav-link {
    font-size: 16px;
    padding: 1rem 2rem;
  }
}

@media (min-width: 992px) {
  .plp-section {
    padding-block: 2rem;
  }
}

@media (min-width: 1200px) {
  .detail-links-wrapper {
    gap: .5rem;
    margin-top: 1rem;
  }

  .plp-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .catalog-data-item-detail-link {
    font-size: 12px;
  }

  .content-data-item {
    padding: 2rem 1rem;
  }
}