.grey-btn {
  background-color: #B2B2B2;
  border-radius: 5000px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  padding: 1rem 3rem;
  transition: all .3s ease-in-out;
}

.grey-btn:hover,
.grey-btn:focus {
  background-color: #808080;
  color: #fff;
}

.vert-markets-wrapper {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.ver-markets-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.nav-tabs .vert-markets-nav-link.nav-link {
  background-color: #F5F3F1;
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: unset;
  text-align: center;
}

.nav-tabs .vert-markets-nav-link.nav-link::after {
  display: none !important;
}

.vm-navlink-img {
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
}

.vm-navlink-img-active {
  display: none;
}

.nav-tabs .vert-markets-nav-link.nav-link.active .vm-navlink-img-default {
  display: none;
}

.nav-tabs .vert-markets-nav-link.nav-link.active .vm-navlink-img-active {
  display: flex;
}

.ver-markets-tabs .nav-item {
  background-color: #F5F3F1;
}

.vm-content-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  display: block;
  text-align: center;
}

.vm-links-group-grid {
  display: flex;
  column-gap: 1rem;
  row-gap: 3rem;
  flex-wrap: wrap;
}

.vm-link-group-header {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 1rem;
}

.vm-link-group-item {
  font-size: 15px;
  color: #000;
  display: block;
  text-decoration: underline;
  margin-bottom: .5rem;
  word-break: break-word;
}

.vm-link-group-item:hover,
.vm-link-group-item:focus {
  text-decoration: underline;
}

.vm-link-group {
  margin-bottom: 3rem;
}

.vm-links-group-grid .vm-link-group {
  margin-bottom: 0;
  flex-grow: 1;
  flex-basis: 100%;
}

.vm-tab-content {
  padding-inline: 1.5rem;
  padding-block: 2rem;
}

.vm-contact-block {
  font-size: 22px;
  line-height: 32px;
  color: #000;
}

.vm-contact-name {
  font-weight: 700;
}

.vm-contact-title {
  font-style: italic;
}

.vm-contact-link {
  color: #000;
  font-weight: 400;
  display: block;
}

.vm-contact-link:hover,
.vm-contact-link:focus {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .grey-btn {
    font-size: 20px;
    line-height: 24px;
  }

  .vm-navlink-img {
    width: auto;
    height: 100%;
    max-height: 125px;
    margin-bottom: 1rem;
  }

  .ver-markets-tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  .vm-content-title {
    font-size: 38px;
    line-height: 45px;
  }

  .vm-link-group {
    margin-bottom: 3rem;
  }

  .vm-links-group-grid .vm-link-group {
    margin-bottom: 0;
    flex-basis: calc(50% - .5rem);
}

  .vm-tab-content {
    padding-inline: 2rem;
    padding-block: 3rem;
  }

  .vm-contact-block {
    font-size: 27px;
    line-height: 35px;
  } 
}